.modal-partidas {
  position: relative;
  width: 50%;
  height: 75%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.modal-content {
  background: white;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content button {
  margin-top: 10px;
}

