.modal-partidas {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.8); 
}

.modal-content {
  background-color: #fff; 
  margin: auto; 
  padding: 20px;
  border-radius: 5px;
  width: 300px; 
  text-align: center; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content button {
  margin-top: 10px;
}